* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variablse */
:root {
  --primary-color: #c4161c;
  --secondary-color: #111111;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Background Colors */
  --bg-main: #ffffff;
  --bg-light: #f5f5f5;
  --bg-dark: #000000;

  /* Border */
  --border-color: #dddddd;

  /* Font */
  --font-main: "SolaimanLipi", "Noto Serif Bengali", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.categoryTitle {
  font-size: xx-large;
  color: var(--primary-color);
}

.c1strow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}
.c1strow .c1strow-left {
  grid-column: span 2;
  background: rebeccapurple;
}

.c1strow .c1strow-left {
  position: relative;
}

.c1strow .c1strow-left img {
  width: 100%;
  max-height: 400px;
  display: block;
}

.c1strow .c1strow-left h1 {
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 10;
  color: #fff;
  font-size: x-large;
}

.c1strow .c1strow-right {
  grid-column: span 1;
}
.c1strow .c1strow-right img {
  width: 100%;
}
.c1strow .c1strow-right h1 {
  font-size: 15px;
  color: var(--text-primary);
}

/* c2strow  */
.c2strow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.c2strow .ccard img {
  width: 100%;
}

@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 480px) {
  .c1strow {
    grid-template-columns: repeat(1, 1fr);
  }
  .c1strow .c1strow-left,
  .c1strow .c1strow-right {
    grid-column: span 1;
  }
  .c2strow {
    grid-template-columns: repeat(2, 1fr);
  }
}
