* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variablse */
:root {
  --primary-color: #c4161c;
  --secondary-color: #111111;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Background Colors */
  --bg-main: #ffffff;
  --bg-light: #f5f5f5;
  --bg-dark: #000000;

  /* Border */
  --border-color: #dddddd;

  /* Font */
  --font-main: "SolaimanLipi", "Noto Serif Bengali", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.detail-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.details {
  grid-column: span 2;
}
.suggests {
  grid-column: span 1;
}
.postDetailsBox h2 {
  color: rgb(29, 29, 210);
  font-size: small;
}
.postDetailsBox .line {
  width: 30px;
  margin-top: 5px;
  height: 2px;
  background: rgb(47, 47, 217);
}
.postDetailsBox h1 {
  font-size: x-large;
  color: var(--text-primary);
  padding: 10px 0;
}
.postDetailsBox .publishDate {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  color: var(--text-secondary);
}
.postDetailsBox img {
  width: 100%;
}
.postDetailsBox .details-content {
  font-size: small;
  line-height: 30px;
}
.postDetailsBox .social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
}
.postDetailsBox .social-links a i {
  color: var(--text-secondary);
}

/* rightsite cards  */

.single-irght-card {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.single-irght-card .image-title {
  display: flex;
  justify-content: space-between;
}
.single-irght-card .image-title img {
  width: 110px;
}

@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 480px) {
  .detail-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .details,
  .suggests {
    grid-column: span 1;
  }
}
