* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variablse */
:root {
  --primary-color: #c4161c;
  --secondary-color: #111111;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Background Colors */
  --bg-main: #ffffff;
  --bg-light: #f5f5f5;
  --bg-dark: #000000;

  /* Border */
  --border-color: #dddddd;

  /* Font */
  --font-main: "SolaimanLipi", "Noto Serif Bengali", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-primary);
  position: relative;
}

.global-container {
  margin-top: 20px;
  border-top: 3px solid gray;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.subTitle {
  font-size: large;
  color: var(--primary-color);
}
#projuktii {
  margin-top: 10px;
}
.global-title {
  font-size: 15px;
  color: var(--text-primary);
  padding: 10px 0;
}
.global-title:hover {
  color: rgb(76, 76, 227);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.global-content {
  font-size: small;
  color: var(--text-secondary);
  line-height: 25px;
}
.global-card a {
  text-decoration: none;
}

.banner-zoom {
  overflow: hidden;
}

.banner-zoom img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}

.banner-zoom:hover img {
  transform: scale(1.08);
}

header {
  background: var(--bg-main);
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-icons {
  color: var(--text-secondary);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  display: none;
}
.site-logo {
  height: 110px;
}

/* Hide state */
.top-bar.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border-color);
  /* left: 50%; */
  /* transform: translateX(-50%);
  width: 1200px; */
  z-index: 1000;
}

nav {
  background: var(--bg-main);
  border-top: 1px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}
nav .navbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;

  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: small;
  color: var(--text-primary);
}

nav .nav-icons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}

.nav-icons p {
  border-left: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.nav-icons p i {
  font-size: 20px;
  color: var(--text-secondary);
}
.nav-icons p span {
  color: var(--text-secondary);
}
.nav-icons #bar {
  border-right: 1px solid var(--border-color);
  padding: 5px;
}

/* =========================
   post sections 
========================= */
.posts {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}
.posts .left {
  grid-column: span 3;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts .center {
  grid-column: span 6;
  padding: 20px;
  border: 1px solid #ccc;
}
.posts .right {
  grid-column: span 3;

  padding: 20px;
  border: 1px solid #ccc;
}

.intNewsCard {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  padding-top: 10px;
}

.intNewsCard div div h1 {
  font-size: 15px;
  color: var(--text-primary);
}

.intNewsCard div div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  gap: 5px;
}

.intNewsCard div div img {
  width: 100px;
}
.intNewsCard div p {
  font-size: small;
  color: var(--text-secondary);
}
.global-card .pDate {
  margin-top: 10px;
  font-size: small;
  color: var(--text-secondary);
}

/* =========================
   leftnoimagenews
========================= */
.leftnoimagenews {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.leftnoimagenews h1 {
  font-size: large;
  color: var(--text-secondary);
  font-weight: 400;
}
.leftnoimagenews a {
  text-decoration: none;
}
/* =========================
   featured-news center
========================= */
.featured-news h1 {
  font-size: x-large;
  color: var(--text-primary);
  padding-top: 5px;
}
.featured-news img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

/* featurd2-box  */
.featurd2 {
  border-top: 1px solid var(--border-color);
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* padding: 15px; */
}

.featurd3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 15px 0;
}
.center3col h1 {
  font-size: small;
  font-size: 15px;
}
.center3col p {
  color: var(--text-secondary);
}
.center3col img {
  width: 100%;
}
/* =========================
   lifestyle
========================= */
/* section jibonjapon */

.jbn-news {
  margin-top: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
/* =========================
   opinions-news
========================= */
.opinions-news {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}
.opinions-news .opinionLeft {
  grid-column: span 4;
  height: 100%;
  /* background: #764a4a; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.opinionsLeftBox {
  position: relative;
  width: 70%;
  border: 1px solid var(--text-secondary);
  height: 100%;
}
.opinion-titles {
  position: absolute;
  top: 20px;
  left: -50px;
}
.opinion-titles div {
  margin-bottom: 7px;
}

.opinion-titles span {
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 3px;
  background: #131c56;
  margin-bottom: 7px;
}

.opinion-titles .oplabel {
  color: var(--primary-color);
}

.opinionsLeftBox .left-des {
  width: 90%;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.opinionsLeftBox .opwriter {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/* right  */
.opinions-news .opinionRight {
  grid-column: span 6;
}
.opinion-card {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.opinion-card img {
  width: 100px;
  border-radius: 100%;
}
.opinion-card .opinion-title {
  font-size: 22px;
  color: var(--text-secondary);
  font-weight: normal;
}
.opinion-card .opinion-title span {
  font-size: 22px;
}
.opinion-card .line {
  width: 30px;
  height: 5px;
  background: gray;
  margin-top: 5px;
}
.opinion-card .openionInfo {
  margin-top: 20px;
}
.opinion-card p {
  font-size: small;
  color: var(--text-secondary);
}
.opinion-card p span {
  font-weight: 400;
  font-size: 18px;
}
/* =========================
   world news section 
========================= */
.world-contaner {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.world-contaner .worldLeft {
  grid-column: span 5;
}
.world-contaner .worldRight {
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.worldCard img {
  width: 100%;
}
/* =========================
   footer section 
========================= */

.site-footer {
  background: #f5f3f3;
  color: var(--text-primary);
  font-family: "SolaimanLipi", Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 30px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-middle h4,
.footer-right h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--text-primary);
}

.footer-middle ul {
  list-style: none;
  padding: 0;
}

.footer-middle ul li {
  margin-bottom: 8px;
}

.footer-middle ul li a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
}

.footer-middle ul li a:hover {
  color: #e53935;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.social-icons a i {
  margin: 0 auto;
}

.social-icons a:hover {
  background: #e53935;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  font-size: 13px;
  background: #d2d0d0;
  color: var(--text-primary);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-icons {
    margin-top: 10px;
  }

  .posts .left img {
    width: 100%;
  }
  .posts .right img {
    width: 100%;
  }
}

/* sidebar style  */

.sidebar {
  width: 100%;
  height: 100vh;
  background: var(--bg-main);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.sidebar.active {
  display: block;
  z-index: 600;
}
.sidebar-container {
  max-width: 1200px;
  margin: 0 auto;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid var(--text-secondary);
}
.sidebar-header img {
  width: 200px;
  height: 50px;
}
.sidebar-header .close-btn {
  font-size: 50px;
  cursor: pointer;
}

.siber-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.siber-row .sider-left {
  grid-column: span 2;
}
.siber-row .sider-right {
  grid-column: span 1;
}

/* main row */
.siber-row {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

/* left */
.sider-left {
  flex: 3;
}

.menu-block {
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0;
}

.menu-block h4 {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-block h4 i {
  color: #e60000;
}

.menu-block p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}
.menu-block {
  display: block;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0;
  transition: background 0.2s ease;
}

.menu-block:hover {
  background: #fafafa;
}

.menu-block h4 {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-block h4 i {
  color: #e60000;
}

.menu-block p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

/* right */
.sider-right {
  flex: 1;
  border-left: 1px solid #e5e5e5;
  padding-left: 20px;
}

.right-box {
  margin-bottom: 25px;
}

.login-btn,
.search-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-btn i,
.search-btn i {
  margin-right: 6px;
}

.right-box h5 {
  font-size: 15px;
  margin-bottom: 10px;
}

.social-icons i {
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
}

.store-btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .siber-row {
    flex-direction: column;
  }

  .sider-right {
    border-left: none;
    padding-left: 0;
  }
  .sidebar {
    padding: 0 20px;
  }
}

/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Tablet */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .site-logo {
    height: 90px;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .topbar-icons {
    display: block;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .navbar ul {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .navbar ul::-webkit-scrollbar {
    display: none;
  }
  .nav-icons .test {
    display: none;
  }
  /* projukti  */
  .featurd3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .intNewsCard div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3px;
    gap: 5px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .site-logo {
    height: 90px;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .topbar-icons {
    display: block;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .navbar ul {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .navbar ul::-webkit-scrollbar {
    display: none;
  }
  .nav-icons .test {
    display: none;
  }

  /* post section one  */
  .posts {
    display: grid;
    gap: 20px;
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  .posts .left,
  .posts .center,
  .posts .right {
    grid-column: span 1;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .intNewsCard div div {
    flex-direction: column;
  }
  .intNewsCard div div img {
    width: 100%;
  }

  /* section1 secter 3 col  projukti */
  .featurd3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .center3col #centercol3p {
    display: none !important;
  }

  /* section 2 jibon japon  */
  .jbn-news {
    grid-template-columns: repeat(1, 1fr);
  }
  /* opinions-news  */
  .opinions-news {
    grid-template-columns: repeat(1, 1fr);
  }
  .opinions-news .opinionRight,
  .opinions-news .opinionLeft {
    grid-column: span 1;
  }

  .opinions-news .opinionLeft {
    min-height: 500px;
  }
  .opinionsLeftBox {
    width: 80%;
  }
  .opinionsLeftBox .opinion-titles {
    left: -30px;
  }

  /* world news section  */
  .world-contaner {
    grid-template-columns: repeat(1, 1fr);
  }

  .world-contaner .worldLeft,
  .world-contaner .worldRight {
    grid-column: span 1;
  }

  /* siber style  */
  .siber-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .siber-row .sider-left,
  .siber-row .sider-right {
    grid-column: span 1;
  }
}
