* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variablse */
:root {
  --primary-color: #c4161c;
  --secondary-color: #111111;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Background Colors */
  --bg-main: #ffffff;
  --bg-light: #f5f5f5;
  --bg-dark: #000000;

  /* Border */
  --border-color: #dddddd;

  /* Font */
  --font-main: "SolaimanLipi", "Noto Serif Bengali", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-primary);
}
.subTitle {
  font-size: large;
  color: var(--primary-color);
}
.global-title {
  font-size: 15px;
  color: var(--text-primary);
  padding: 10px 0;
}
.global-title:hover {
  color: rgb(76, 76, 227);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.global-content {
  font-size: small;
  color: var(--text-secondary);
}
.global-card a {
  text-decoration: none;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar-icons {
  color: var(--text-secondary);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}
.site-logo {
  height: 110px;
}

/* Hide state */
.top-bar.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
  height: 70px;
  border-bottom: 2px solid gray;
  border-top: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000; /* উপরে রাখার জন্য */
  background: #fff;
}

nav ul {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: small;
  color: var(--text-primary);
}

nav .nav-icons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}

.nav-icons p {
  border-left: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 0, 3px;
}

.nav-icons p i {
  font-size: 20px;
  color: var(--text-secondary);
}
.nav-icons p span {
  color: var(--text-secondary);
}
.nav-icons #bar {
  border-right: 1px solid var(--border-color);
  padding: 5px;
}

/* =========================
   post sections 
========================= */
.posts {
  /* height: 800px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}
.posts .left {
  grid-column: span 3;

  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts .center {
  grid-column: span 6;

  padding: 20px;
  border: 1px solid #ccc;
}
.posts .right {
  grid-column: span 3;

  padding: 20px;
  border: 1px solid #ccc;
}

.intNewsCard {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  padding-top: 10px;
}

.intNewsCard div div h1 {
  font-size: 15px;
  color: var(--text-primary);
}
/* .intNewsCard div div h1:hover {
  color: rgb(76, 76, 227);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
} */

.intNewsCard div div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  gap: 5px;
}
.intNewsCard div div img {
  width: 100px;
}
.intNewsCard div p {
  font-size: small;
  color: var(--text-secondary);
}
.global-card .pDate {
  margin-top: 10px;
  font-size: small;
  color: var(--text-secondary);
}

/* =========================
   leftnoimagenews
========================= */
.leftnoimagenews {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.leftnoimagenews h1 {
  font-size: large;
  color: var(--text-secondary);
  font-weight: 400;
}
.leftnoimagenews a {
  text-decoration: none;
}
/* =========================
   featured-news center
========================= */
.featured-news h1 {
  font-size: x-large;
  color: var(--text-primary);
  padding-top: 5px;
}
.featured-news img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

/* featurd2-box  */
.featurd2 {
  border-top: 1px solid var(--border-color);
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
}

.featurd3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 15px;
}
.center3col h1 {
  font-size: small;
  font-size: 15px;
}
.center3col p {
  color: var(--text-secondary);
}
.center3col img {
  width: 100%;
}
/* =========================
   lifestyle
========================= */
/* section jibonjapon */
.jibonjapon {
  margin-top: 20px;
  border-top: 3px solid gray;
  padding: 20px;
}
.jbn-news {
  margin-top: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Tablet */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .site-logo {
    height: 90px;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .topbar-icons {
    display: block;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .navbar ul {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .navbar ul::-webkit-scrollbar {
    display: none;
  }
  .nav-icons .test {
    display: none;
  }

  /* post section one  */
  .posts {
    display: grid;
    gap: 20px;
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  .posts .left,
  .posts .center,
  .posts .right {
    grid-column: span 1;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .intNewsCard div div {
    flex-direction: column;
  }
  .intNewsCard div div img {
    width: 100%;
  }

  /* section1 secter 3 col  projukti */
  .featurd3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .center3col #centercol3p {
    display: none !important;
  }

  /* section 2 jibon japon  */
  .jbn-news {
    grid-template-columns: repeat(1, 1fr);
  }
}
