* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variablse */
:root {
  --primary-color: #c4161c;
  --secondary-color: #111111;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-muted: #777777;

  /* Background Colors */
  --bg-main: #ffffff;
  --bg-light: #f5f5f5;
  --bg-dark: #000000;

  /* Border */
  --border-color: #dddddd;

  /* Font */
  --font-main: "SolaimanLipi", "Noto Serif Bengali", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-primary);
}
.logo-container {
  text-align: center;
}
.site-logo {
  height: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 70px;
  border-bottom: 2px solid gray;
  border-top: 1px solid var(--border-color);
}

nav ul {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: small;
  color: var(--text-primary);
}

nav .nav-icons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}

.nav-icons p {
  border-left: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 0, 3px;
}

.nav-icons p i {
  font-size: 20px;
  color: var(--text-secondary);
}
.nav-icons p span {
  color: var(--text-secondary);
}
.nav-icons #bar {
  border-right: 1px solid var(--border-color);
  padding: 5px;
}

/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Tablet */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
